numpy==1.26.4
scipy==1.10.1
scikit-learn==1.2.2
pandas==1.5.3
joblib==1.4.2

sentence-transformers==2.2.2
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu

fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.2.1
requests==2.31.0
pydantic==2.6.4

